<script type="text/template" id="table-template">
	<div>
		<div class="panel panel-heading">
			<h3 class="panel-title">
				Table <%= name%> &nbsp;
				<button class="edit-table btn btn-default">
					<span class="glyphicon-pencil"></span>
				</button>
			</h3>
			<br/>
			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="#fields" data-toggle="tab">Fields</a></li>
				<li role="presentation"><a href="#relations" data-toggle="tab">Relationships</a></li>
				<li role="presentation"><a href="#general" data-toggle="tab">Other</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="panel tab-pane active" id="fields">
				<div style="float: right"><button id="add-field" class="btn btn-primary">Add field</button></div>
					<table class="table field-table">
						<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Type</th>
							<th>Length</th>
							<th></th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
			</div>
			<div role="tabpanel" class="panel tab-pane" id="relations">
					<div style="float: right"<button id="add-relation" class="btn btn-primary">Add relationship</button></div>
					<table class="table relation-table">
						<thead>
						<tr><th>Referenced Table</th>
							<th>Type</th>
							<th>Foreign Key</th>
							<th></th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
			</div>
			<div role="tabpanel" class="panel tab-pane" id="general">
			</div>
		</div><!-- tabcontent -->

	</div>
</script>

