<!doctype html>
<html>
  <head>
        <title>DonkeyLift Data</title>
		<link href="3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="3rdparty/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="3rdparty/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet">
		<link href="css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
		<style>
			body {
				background-color: white;
			}
			.side-nav {
				top: 50px;
			}
			#content {
				margin-top: 55px;
			}
			.filter-column {
				width: 32em;
			}
			.filter-form {
				padding: 10px;
			}
			#sliderRange {
				margin: 10px;
			}
			#inputFilterMin {
				margin-right: 4.5em;
			}
			#filterOptions, #filterSelection {
				margin-top: 1em;
			}
			#filterOptions a, #filterSelection a {
				padding: 3px 5px;
			}
			.filter-reset {
		 		text-align: right; margin-top: 1em	
			}

			.scrollable-menu {
			    height: auto;
			    max-height: 20em;
			    overflow-x: hidden;
			}

		</style>
    </head>
    <body>
	<div id="wrapper">	

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#table-list">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <!-- Top Menu Items -->
            <ul class="nav navbar-left top-nav">
                <li id="toggle-sidebar">
                    <a href="#" data-toggle="collapse" data-target="#table-list"><i class="fa fa-table"></i><b class="caret"></b></a>
				</li>
                <li id="goto-data">
					<a class="navbar-brand" href="/public/data.html">Data</a>
                </li>
				<li id="goto-schema">
					<a class="navbar-brand" href="/public/schema.html">Schema</a>
				</li>
			</ul>
            <ul class="nav navbar-right top-nav">
                <li id="schema-list" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-database"></i><span> Change Database </span><b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div id="table-list" class="collapse navbar-collapse">
            </div>
            <!-- /.navbar-collapse -->
        </nav>

<!--
		<nav class="navbar navbar-default navbar-fixed-top second-navbar navbar-inverse">
            <div id="schema-menu" class="collapse navbar-collapse main-nav">
            </div>
    	</nav>
-->

        <!-- Page Content -->
        <div id="page-content-wrapper">
			<section id="content">				
			</section>
		</div>		
	</div>
<!-- END FIXED PAGE ELEMENTS --> 

	  <div id="ajax-progress-spinner">
		<img src="img/progress-spinner.gif"></img>
	  </div>	

		<script type="text/template" id="schema-menu-template">
			<ul class="nav navbar-nav"><li><a>Tables</a></li></ul>
			<ul style="margin-left: 145px" class="nav navbar-nav">

			</ul>
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</script>

		<script type="text/template" id="schema-select-template">
			<li><a data-target="<%= name %>" class="schema-option" href="#"> <%= name %> </a></li>
		</script>

		<script type="text/template" id="table-list-template">
			<li><a data-target="<%= name %>" class="table-item" href="#"> <%= name %> </a></li>
		</script>

		<script type="text/template" id="grid-table-template">
			<table id="grid" class="display" width="100%" cellspacing="0">
				<thead>
					<tr>
					</tr>
				</thead>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</script>

		<script type="text/template" id="grid-column-template">
			<th id="col-<%=name %>">
				<div class="dropdown">
					<%= name %>
					<button data-toggle="dropdown" data-column="<%=name %>" class="field-filter btn btn-default btn-xs">
						<i class="fa fa-filter fa-lg"></i>
					</button>
					<div class="dropdown-menu <%=dropalign %>">
					</div>
				</div>
			</th>
		</script>

		<script type="text/template" id="filter-template">
			<div class="filter-column">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs">
				<li class="active">
					<a href="#filterRange" data-toggle="tab">Range</a>
				</li>
				<li>
					<a href="#filterSelect" data-toggle="tab">Select</a>
				</li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
				<div class="tab-pane active" id="filterRange">
					<form class="form-inline filter-form">				
						<div class="form-group">
							<label for="inputFilterMin" class="control-label">From</label>
							<input type="text" size="16" class="form-control input-sm" id="inputFilterMin">
						</div>
						<div class="form-group">
							<label for="inputFilterMax" class="control-label">To</label>
							<input type="text" size="16" class="form-control input-sm" id="inputFilterMax">
						</div>
						<div id="sliderRange"></div>
						<div class="filter-reset">
							<button id="rangeReset" type="button" class="btn btn-primary">Reset</button>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="filterSelect">
					<form class="form-inline filter-form">				
					<div class="pull-left" style="width: 45%">
						<div class="form-group">
							<label for="inputFilterSelectSearch" class="control-label">Search </label>						
							<input type="text" size="14" class="form-control input-sm" id="inputFilterSelectSearch">
						</div>
						<div id="filterOptions" class="list-group scrollable-menu">
						</div>						
					</div>
					<div class="pull-right" style="width: 45%">
						<div class="form-group">
							<label class="control-label">Selected </label>
							<input style="visibility: hidden;"><!-- force equal heights -->
						</div>
						<div id="filterSelection" class="list-group scrollable-menu">
						</div>
					</div>
					<div style="clear: both" class="filter-reset">
						<button id="selectReset" type="button" class="btn btn-primary">Reset</button>
					</div>
					</form>
				</div>
			  </div>
			</div>
		</script>		
		<script type="text/template" id="filter-option-template">
			<a data-target="<%= value %>" class="filter-option list-group-item" href="#"><%= value %></a>
		</script>
		<script type="text/template" id="filter-selected-template">
			<a data-target="<%= value %>" class="filter-selected list-group-item" href="#"><%= value %></a>
		</script>

  		<script src="3rdparty/jquery/jquery.min.js" type="text/javascript"></script>
  		<script src="3rdparty/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  		<script src="3rdparty/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  		<script src="3rdparty/underscore/underscore.js" type="text/javascript"></script>
  		<script src="3rdparty/backbone/backbone.js" type="text/javascript"></script>
  		<script src="3rdparty/DataTables/media/js/jquery.dataTables.js" type="text/javascript"></script>

		<script src="js/models/Schema.js" type="text/javascript"></script>
		<script src="js/models/Table.js" type="text/javascript"></script>
		<script src="js/models/Field.js" type="text/javascript"></script>
		<script src="js/models/Relation.js" type="text/javascript"></script>

		<script src="js/models/data/Database.js" type="text/javascript"></script>
		<script src="js/models/data/DataTable.js" type="text/javascript"></script>
		<script src="js/models/data/Filter.js" type="text/javascript"></script>

		<script src="js/collections/Schemas.js" type="text/javascript"></script>
		<script src="js/collections/Tables.js" type="text/javascript"></script>
		<script src="js/collections/Fields.js" type="text/javascript"></script>
		<script src="js/collections/Relations.js" type="text/javascript"></script>
		<script src="js/collections/data/Filters.js" type="text/javascript"></script>

		<script src="js/views/MenuView.js" type="text/javascript"></script>
		<script src="js/views/SchemaListView.js" type="text/javascript"></script>
		<script src="js/views/TableListView.js" type="text/javascript"></script>

		<script src="js/views/data/DataTableView.js" type="text/javascript"></script>
		<script src="js/views/data/FilterView.js" type="text/javascript"></script>
		<script src="js/views/data/FilterRangeView.js" type="text/javascript"></script>
		<script src="js/views/data/FilterItemsView.js" type="text/javascript"></script>

		<script src="js/data-app.js" type="text/javascript"></script>
    </body>
</html>



