<script type="text/template" id="table-template">
	<div>
		<div class="panel panel-heading">
			<h3 class="panel-title">
				<span>Table</span> <%= name%> &nbsp;
				<button class="edit-table btn btn-default">
					<i class="fa fa-pencil"></i>
				</button>
			</h3>
			<br/>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#fields" data-toggle="tab">Fields</a></li>
				<li role="presentation"><a href="#relations" data-toggle="tab">Relationships</a></li>
				<li role="presentation"><a href="#alias" data-toggle="tab">Alias</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="panel tab-pane active" id="fields">
				<table class="table field-table">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Type</th>
						<th>Length</th>
						<th></th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
				<button id="add-field" class="btn btn-default">Add field</button>
			</div>
			<div role="tabpanel" class="panel tab-pane" id="relations">
				<table class="table relation-table">
					<thead>
					<tr><th>Referenced Table</th>
						<th>Type</th>
						<th>Foreign Key</th>
						<th></th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
				<button id="add-relation" class="btn btn-default">Add relationship</button>
			</div>
			<div role="tabpanel" class="panel tab-pane" id="alias">
			</div>
		</div><!-- tabcontent -->

	</div>
</script>

