<script type="text/template" id="filter-template">
	<div class="filter-column">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs">
		<li class="active">
			<a href="#filterRange" data-toggle="tab">Range</a>
		</li>
		<li>
			<a href="#filterSelect" data-toggle="tab">Select</a>
		</li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
		<div class="tab-pane active" id="filterRange">
			<div class="form-inline filter-form">				
				<div class="form-group">
					<label for="inputFilterMin" class="control-label">From</label>
					<input type="text" class="form-control input-sm" id="inputFilterMin">
				</div>
				<div class="form-group">
					<label for="inputFilterMax" class="control-label">To</label>
					<input type="text" class="form-control input-sm" id="inputFilterMax">
				</div>

				<div id="sliderRange">
					<input id="inputSliderRange" type="text" class="span2" value="" data-slider-min="" data-slider-max="" data-slider-step="" data-slider-value=""/>				
				</div>

				<div class="filter-reset">
					<button id="rangeReset" type="button" class="btn btn-primary">Reset</button>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="filterSelect">
			<div class="form-inline filter-form">				
				<div class="pull-left" style="width: 45%">
					<div class="form-group">
						<label for="inputFilterItemsSearch" class="control-label">Search </label>						
						<input type="text" class="form-control input-sm" id="inputFilterItemsSearch">
					</div>
					<div id="filterOptions" class="list-group scrollable-menu">
					</div>						
				</div>
				<div class="pull-right" style="width: 45%">
					<div class="form-group">
						<label class="control-label">Selected </label>
						<input style="visibility: hidden;"><!-- force equal heights -->
					</div>
					<div id="filterSelection" class="list-group scrollable-menu">
					</div>
				</div>
				<div style="clear: both" class="filter-reset">
					<button id="select{{ specialAction }}" type="button" class="btn btn-default">Show {{ specialAction }}</button>
					<button id="selectReset" type="button" class="btn btn-primary">Reset</button>
				</div>
			</div>
		</div>
	  </div>
	</div>
</script>		

