<script type="text/template" id="schema-menu-template">
	<div class="btn-group" role="group">
		<button id="add-table" type="button" class="btn btn-default navbar-btn">Add Table</button>
		<button id="save-schema" type="button" class="btn btn-info navbar-btn">Update Server</button>
		<button id="new-schema" type="button" class="btn btn-default navbar-btn">New Database</button>
	</div>
	<div class="btn-group" role="group">
		<button id="vis-tablegraph" type="button" class="btn btn-default navbar-btn">View Diagram</button>
	</div>
</script>

