<script type="text/template" id="schema-menu-template">

	<span class="schema-menu">
		<button id="add-table" type="button" class="btn btn-default navbar-btn">Add Table</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				View <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
	    		<li><a id="vis-tablegraph" href="#">Diagram</a></li>		
	    	</ul>
		</div>	    	
	</span>
		
</script>

